.flexRowContent--wrapper__top-bar{
    justify-content: space-around;
    width: 100%;
    background-color: #25282A;
    padding: 0 2rem 0 2rem;
    height: 2rem;
}
.flexRowContent--wrapper__seja{
    justify-content: center;
}
.flexRowContent--wrapper__middle-bar{
    justify-content: space-evenly;
    background-color: #EEEEEE;
}