

.flexRow--footer-3__wrapper{
    background-color: #ffffff;
    max-width: 100%;
}
.flexRow--menu-row,
.flexRow--footer-2__wrapper{
    max-width: 100%;
    
}
.flexRowContent--footer-3__wrapper{
    max-width: 1252px;
    margin: 0 auto;
    padding: 10px 0 5px 0;
    justify-content: space-between;
}
.flexRow--footer-bottom-logos__wrapper{
    width: fit-content;
}
.flexRowContent--menu-row{
    max-width: 1252px;
    margin: 80px auto 100px auto;
}
.flexRowContent--footer_2__wrapper{
    border-top: 1px solid #8C8F90;
    max-width: 1252px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 0 5px 0;
    justify-content: space-between;
}
.flexRow--payment-methods{
    display: flex;
    align-items: center;
}
.flexRowContent--payment-methods{
    box-sizing: border-box;
    justify-content: left;
}
.flexRow--footer-newsletter__wrapper{
    max-width: 100%;
}
.flexRowContent--footer-newsletter__wrapper{
    margin: 0 auto;
    max-width: 1252px;
    justify-content: space-between;
}
.flexCol--footer-txt-col__wrapper{
    width: 308px;
}
.flexRowContent--footer-networks__wrapper{
    justify-content: right;
}



/*


*/